@{
    ViewData["Title"] = "MyBlog";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Peddana&family=Zilla+Slab:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>

</body>
<div class="text-center">
    <h1 class="display-4">Welcome to Hathaway Blog</h1>
   
    <div class="head_blog">
        <img src="images/i.jpg" alt="">
        <p>Blog about what I like. With different nice content.</p>
    </div>
    
</div>
